{% extends "_base.html" %}
{% block content %}
<div class="container">
  <h3>Tell me about your visit to {{ place.name }}</h3>
  <div class="row">
    {% if visit %}
      <form class="col s12" method="POST" action="{{ url_for('places.editVisit', visitID=visit.visitID) }}">
    {% else %}
      <form class="col s12" method="POST" action="{{ url_for('places.addVisit', placeID=place.placeID) }}">
    {% endif %}
      {{ form.csrf_token }}
      <div class="row">
        <div class="input-field col s12">
          <label for="visitDatePicker">Visit Date</label>
          {% if visit %}
            {% set vd = form.visitDate.process_data(visit.visitDate) %}
            {{ form.visitDate(class='datepicker', id='visitDatePicker') }}
          {% else %}
            {{ form.visitDate(class='datepicker', id='visitDatePicker', placeholder='Pick Date') }}
          {% endif %}
          {% if form.visitDate.errors %}
            <span class="error">
              {% for error in form.visitDate.errors %}
                  {{ form.visitDate.data}}
                  {{ error }}
                {% endfor %}
            </span>
          {% endif %}
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {% if visit %}
            {% set c = form.comments.process_data(visit.comments) %}
          {% endif %}
          {{ form.comments(id="comments", class="materialize-textarea") }}
          <label for="comments">Comments</label>
          {% if form.comments.errors %}
            <span class="error">
              {% for error in form.comments.errors %}
                  {{ error }}
                {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Record Visit</button>
    </form>
  </div>
{% endblock %}