{% extends "_base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>{{ place.name }}</h1>
        <h2>{{ place.formatted_address }}</h2>
      </div>
    </div>
  	<div class="row">
      <div class="col s12 m5 l4">
        <p>
          <h4>Details</h4>
          {{ place.formatted_phone_number }}
          <br />
          {% if place.opening_hours['open_now'] %}
          Open now :)
          {% else %}
          Closed now :(
          {% endif %}
          <br/>
          {% for day in place.opening_hours['weekday_text'] %}
          {{ day }}
          <br/>
          {% endfor %}
          <a target="_blank" href="{{ place.website }}">Link to Website</a>
          <br/>
          <a target="_blank" href="{{ place.url }}">Link to Google</a>
        </p>
      </div>
      <div class="col s12 m7 l8">
        <div class="video-container">
          <iframe
            width="450"
            height="275"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key={{ key }}&q=place_id:{{ place.placeID }}" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  	

    <p>
      <h4>Notes</h4>
      {% if notes %}
        {{ notes }}
      {% else %}
        No notes.
      {% endif %}
      <br />
      <a href="{{ url_for('places.editNotes', placeID = place.placeID) }}">Update Notes</a>
    </p>
    
    <p>
      <h4>Visits</h4>
      <a href="{{ url_for('places.addVisit', placeID = place.placeID) }}">Record a visit to this restaurant</a>
      <br/>
      {% if visits %}
        {% if visits.count() == 1 %}
          You've been here 1 time.
        {% else %}
          You've been here {{ visits.count() }} times.
        {% endif %}
        {% for visit in visits %}
          <br/>
          On {{ visit.visitDate }} you said: "{{ visit.comments }}" <a href="{{ url_for('places.editVisit', visitID=visit.visitID) }}">Edit</a>
        {% endfor %}
      {% else %}
        You've never been here!
      {% endif %}
    </p>
  </div>
{% endblock %}
