{% extends "_base.html" %}
{% block content %}
  <div class="container">
  	<h3>{{ place.placeName }}</h3>
  	<div class="row">
  	  <form class="col s12" method="POST" action="{{ url_for('places.editNotes', placeID=place.placeID) }}">
  	    {{ form.csrf_token }}
  	    <div class="row">
  	    	<div class="input-field col s12">
            {% set f = form.notes.process_data(place.notes) %}
  	    	  {{  form.notes(class="materialize-textarea", id="textarea_notes", autofocus=true) }}
  	    		<label for="textarea_notes">Notes</label>
  	    	</div>
  	    </div>
  	    <button class="waves-effect waves-light btn" type="submit" name="action">Update Notes</button>
  	  </form>
  	</div>
  </div>
{% endblock %}