{% extends "_base.html" %}

{% block content %}
<div class="container">
  <h1>Welcome to Resties.</h1>
  <h3>Please sign in to access your restuarants list</h3>
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('users.login') }}" role="form">
      {{ form.csrf_token }}
      <div class="row">
        <div class="input-field col s12">
          {{ form.name(id="name_input", autofocus=true) }}
          <label for="name_input">Username</label>
          {% if form.name.errors %}
            <span class="error">
              {% for error in form.name.errors %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.password(class="validate",id="password_input") }}
          <label for="password_input">Password</label>
          {% if form.password.errors %}
            <span class="error">
              {% for error in form.password.errors %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Sign in</button>
    </form>    
  </div>
  <div class="row">
    <div class="col">
      <em>Need an account? </em><a href="/register">Signup!!</a>
    </div>
  </div>
</div>
{% endblock %}