{% extends "_base.html" %}
{% block content %}
  <div class="container">
    {% if not session.logged_in %}
      <h2>Hello!</h2>
      <h3>Might I suggest <a href="/login">logging in</a> or <a href="/register"> signing up</a>?</h3>
  	{% else %}
      <ul class=resties>
    	  {% for place in places %}
	        <li><a href="{{ url_for('places.details', placeID = place.placeID) }}">{{ place.placeName }}</a></li>
  	    {% else %}
  	     <li><em>Unbelievable. No places here so far.</em></li>
  	    {% endfor %}
      </ul>	
    {% endif %}
  </div>
{% endblock %}
